# Web
fastapi==0.115.0
uvicorn[standard]==0.32.0
starlette==0.38.6
jinja2==3.1.4
python-multipart==0.0.12
itsdangerous==2.2.0

# БД
SQLAlchemy==2.0.35
psycopg2-binary==2.9.9
alembic==1.13.3

# Безопасность
bcrypt==4.0.1
redis==5.1.1
python-dotenv==1.0.1

# Excel
openpyxl==3.1.5
xlrd==2.0.1

# PDF
xhtml2pdf==0.2.16
reportlab==4.2.5
Pillow==10.4.0

# Мониторинг
sentry-sdk[fastapi]==2.17.0

# Планировщик
APScheduler==3.10.4

# WebPush (опционально)
pywebpush==2.0.3